.container,
.container-fluid {
  @include padding(null, size('gutter'), null, size('gutter'));
  @include margin(null, auto, null, auto);

  width: 100%;
}

.container {
  @include padding(null, 0.625rem, null, 0.625rem);

  @include above('tablet') {
    @include padding(null, 2.5rem, null, 2.5rem);
  }

  @include above('tablet-large') {
    @include padding(null, 3rem, null, 3rem);
  }

  @include above('desktop') {
    @include padding(null, 4.675rem, null, 4.675rem);
  }
}

.wrapper__inner {
  max-width: 1070px;

  @include margin(null, auto, null, auto);
}

.row {
  @include flex(null, null, null, wrap);
  @include margin(null, -10px, null, -10px);

  @include above('tablet') {
    @include margin(null, -size('gutter'), null, -size('gutter'));
  }
}

.row--lg {
  @include margin(null, -size('gutter') - 7.5px, null, -size('gutter') - 7.5px);
}
.no--gutters {
  @include margin(null, 0, null, 0);
}
[class*='col-'] {
  @include padding(null, size('gutter'), null, size('gutter'));
  .row--lg & {
    @include padding(
      null,
      size('gutter') + 7.5px,
      null,
      size('gutter') + 7.5px
    );
  }
  .no--gutters & {
    @include padding(null, 0, null, 0);
  }
}

$grid__cols: 12;

@for $i from 1 through $grid__cols {
  .col-#{$i} {
    @include col-flex((100 / ($grid__cols / $i)) * 1%);
  }
}

@include above('tablet') {
  .col-md {
    flex: 1 0 0;
    max-width: 100%;
  }

  @for $i from 1 through $grid__cols {
    .col-md-#{$i} {
      @include col-flex((100 / ($grid__cols / $i)) * 1%);
    }
  }
}

@include above('tablet-large') {
  @for $i from 1 through $grid__cols {
    .col-lg-#{$i} {
      @include col-flex((100 / ($grid__cols / $i)) * 1%);
    }
  }
}

@include above('desktop') {
  @for $i from 1 through $grid__cols {
    .col-xl-#{$i} {
      @include col-flex((100 / ($grid__cols / $i)) * 1%);
    }
  }
}
