<div class="wrapper">
    <div class="how-much">
        <div class="how-much__heading">
            <h2 class="how-much__title">How much of The Good do you need?</h2>
            <p class="how-much__description">Your climate will affect whether you need more or less for your skin type. Please use the recommendations below as a suggested starting point, or take an extra 60 seconds and get your personalized recommendations here..</p>
        </div>
        <div class="how-much__content">
            <div class="how-much__item">
                <div class="how-much__item-heading"><h6 class="how-much__item-title">Dry Skin</h6></div>  
                <div class="how-much__item-body">
                    <h6 class="how-much__item-qnty"></h6>
                    <img src="{{ 'delete.jpeg' | asset_img_url: 'master' }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>