<svg width="6px" height="6px" viewBox="0 0 6 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Oval</title>
    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="header" transform="translate(-1359.000000, -36.000000)" fill="#E67A62">
            <circle id="Oval" cx="1362" cy="39" r="3"></circle>
        </g>
    </g>
</svg>