<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>account</title>
    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-1440---v3---HV-Clio" transform="translate(-1267.000000, -41.000000)">
            <g id="account" transform="translate(1267.000000, 41.000000)">
                <rect id="box" x="0" y="0" width="16" height="16"></rect>
                <g id="icon" transform="translate(2.000000, 1.000000)" stroke="#FFFFFF">
                    <path d="M2.60123087,8 C1.00988418,8.7718383 -0.000437101969,10.3851974 -1.8189894e-12,12.1538462 L-1.8189894e-12,12.1538462 C-1.8189894e-12,12.1538462 1.84615396,14 6,14 C10.1538461,14 12,12.1538462 12,12.1538462 L12,12.1538462 C12.0002657,10.3849887 10.9895521,8.77157562 9.39784614,8" id="Path" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6,0.5 C6.68919631,0.5 7.31265799,0.785986436 7.76414105,1.2468754 C8.21931707,1.71153426 8.5,2.35368698 8.5,3.0625 C8.5,3.8624707 8.15711954,4.79912653 7.62063745,5.50325927 C7.19274481,6.06486836 6.63497102,6.5 6,6.5 C5.36502898,6.5 4.80725519,6.06486836 4.37936255,5.50325927 C3.84288046,4.79912653 3.5,3.8624707 3.5,3.0625 C3.5,2.35368698 3.78068293,1.71153426 4.23585895,1.2468754 C4.68734201,0.785986436 5.31080369,0.5 6,0.5 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </g>
</svg>