<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>bag</title>
    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-1440---v3---HV-Clio" transform="translate(-1339.000000, -41.000000)">
            <g id="bag" transform="translate(1339.000000, 41.000000)">
                <rect id="box" x="0" y="0" width="16" height="16"></rect>
                <rect id="Path" stroke="#FFFFFF" x="1.5" y="5.5" width="13" height="9" rx="1"></rect>
                <path d="M8,1.5 C8.6905,1.5 9.31551608,1.77972286 9.76789661,2.23210339 C10.2202771,2.68448392 10.5,3.3095 10.5,4 L10.5,4 L10.5,5.5 L5.5,5.5 L5.5,4 C5.5,3.3095 5.77972286,2.68448392 6.23210339,2.23210339 C6.68448392,1.77972286 7.3095,1.5 8,1.5 Z" id="Path" stroke="#FFFFFF"></path>
            </g>
        </g>
    </g>
</svg>