<svg width="63px" height="10px" viewBox="0 0 63 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group</title>
    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home-320---v3---Ivy-Mode-Light" transform="translate(-45.000000, -1502.000000)" fill="#272727">
            <g id="our-rituals" transform="translate(36.000000, 744.000000)">
                <g id="item" transform="translate(0.000000, 490.000000)">
                    <g id="rating" transform="translate(9.000000, 264.000000)">
                        <g id="Group" transform="translate(0.000000, 4.000000)">
                            <polygon id="Star" points="4.5 6.97131148 1.85496636 8.40748062 2.36012284 5.36562556 0.220245677 3.21137184 3.17748318 2.76757116 4.5 7.46069873e-14 5.82251682 2.76757116 8.77975432 3.21137184 6.63987716 5.36562556 7.14503364 8.40748062"></polygon>
                            <polygon id="Star-Copy" points="18 6.97131148 15.0610737 8.40748062 15.6223587 5.36562556 13.2447174 3.21137184 16.5305369 2.76757116 18 7.46069873e-14 19.4694631 2.76757116 22.7552826 3.21137184 20.3776413 5.36562556 20.9389263 8.40748062"></polygon>
                            <polygon id="Star-Copy-2" points="31.5 6.97131148 28.8549664 8.40748062 29.3601228 5.36562556 27.2202457 3.21137184 30.1774832 2.76757116 31.5 7.46069873e-14 32.8225168 2.76757116 35.7797543 3.21137184 33.6398772 5.36562556 34.1450336 8.40748062"></polygon>
                            <polygon id="Star-Copy-3" points="45 6.97131148 42.0610737 8.40748062 42.6223587 5.36562556 40.2447174 3.21137184 43.5305369 2.76757116 45 7.46069873e-14 46.4694631 2.76757116 49.7552826 3.21137184 47.3776413 5.36562556 47.9389263 8.40748062"></polygon>
                            <polygon id="Star-Copy-4" points="58.5 6.97131148 55.8549664 8.40748062 56.3601228 5.36562556 54.2202457 3.21137184 57.1774832 2.76757116 58.5 7.46069873e-14 59.8225168 2.76757116 62.7797543 3.21137184 60.6398772 5.36562556 61.1450336 8.40748062"></polygon>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>